{% extends "youstupid/base.html" %}
{% block content %}
   <article class="media content-section">
     <img class="article-img" src="{{ object.auther.profile.image.url }}">
     <div class="media-body">
       <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.auther }}</a>
        <small class="text-muted">{{ object.date_posted|date:"b d, Y" }}</small>
           {% if user == object.auther %}
             <div>
                 <a class="btn btn-secondary btn-sm mr-2" href="{% url 'blog-post-update' object.id %}">Update</a>
                 <a class="btn btn-danger btn-sm" href="{% url 'blog-post-delete' object.id %}">Delete</a>
             </div>
           {% endif %}
             </div>
             <h2 class="article-title">{{ object.title }}</h2>
             <p class="article-content">{{ object.content }}</p>
         </div>
   </article>
{% endblock content %}